*
**/.snakemake*
!config
!config/*
!workflow
!workflow/*
!resources
!resources/*
!resources/msigdb_v7.5.1_GMTs/*
!workflow/envs/*
!workflow/rules/*
!workflow/schemas/*
!workflow/scripts/*
!workflow/scripts/R/*
!workflow/profiles
!workflow/profiles/*
!workflow/profiles/default/*
!.test
!.test/data
!.test/data/*
!.test/config
!.test/config/*
!.test/resources
!.test/resources/*
!Snakefile
!snakemake.yaml
!.gitignore
!.gitattributes
!README.md
!CHANGELOG.md
!setup
