*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config
!config/*
!resources
!resources/*
!envs
!envs/*
!snakemake.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.editorconfig
!.gitattributes
!.test
!.test/data
!.test/data/*
!.test/config
!.test/config/*
