*
**/.snakemake*
!config
!config/*
!cluster
!cluster/slurm
!cluster/slurm/*
!workflow
!workflow/*
!resources
!resources/*
!resources/msigdb_v7.5.1_GMTs/*
!workflow/envs/*
!workflow/rules/*
!workflow/schemas/*
!workflow/scripts/*
!workflow/scripts/R/*
!.test
!.test/data
!.test/data/*
!.test/config
!.test/config/*
!.test/resources
!.test/resources/*
!Snakefile
!snakemake.yaml
!snakemake_slurm.sh
!.gitignore
!.editorconfig
!.gitattributes
!LICENSE
!README.md
!CHANGELOG.md
