# Define reference to use
reference_args:
  # Ensembl species name
  species: homo_sapiens

  # Ensembl release 
  release: 100

  # Genome build
  build: GRCh38

# Where to store reference files 
reference_path: "../ensembl-reference"

# Set stradedness, options:
#   none: unstranded
#   yes: first read strand aligned 
#   reverse: second read strand aligned (common for Illumina TruSeq)
strandedness: reverse

# Path to tsv describing fastq files (ie, sample, pair, path)
fastqs: config/fastqs.tsv

# Path to table describing analysis conditions
samples: config/samples.tsv

# Path to file describing models for analysis
analysis: config/analysis.yaml 

# Output path
datadir: "processed"

# trimming:
#   activate: False

# pca:
#   activate: True
#   labels:
#     # columns of sample sheet to use for PCA
#     - condition

# diffexp:
#   # contrasts for the deseq2 results method
#   contrasts:
#     A-vs-B:
#       - A
#       - B
#   model: ~condition

# params:
#   cutadapt-pe: ""
#   cutadapt-se: ""
#   star: "--outSAMtype BAM Unsorted"
